body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  max-width: 650px;
  padding: 20px;
  border: 2px solid #1f3c88;
  border-radius: 5px;
  margin: 20px auto;
  overflow: auto;
}

h1 {
  color: #1f6f8b;
  font-weight: 100;
  line-height: 25px;
}

img {
  width: 100px;
  display: block;
}

ul {
  padding: 0%;
  margin: 20px auto;
}

li {
  list-style: none;
  color: #070d59;
  font-size: 15px;
  padding: 0;
  text-transform: capitalize;
}

strong {
  font-size: 54px;
  margin-left: 15px;
  font-weight: 100;
}

.units {
  position: relative;
  font-size: 16px;
  top: -28px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
